<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DP 代码启动</title>
    <!-- <link rel="stylesheet" href="./styles.css"> -->
    <link rel="stylesheet" href="night-mode.css" id="night-mode-css" disabled>
    
    
</head>

<body>
    <div id="home0">
        <h1>DrissionPage 代码启动助手 </h1>
        <button id="toggle-night-mode">夜间模式</button>
        <button @click="switchHome(BrowserTab)">{{tab.t2}}</button>    
        <button @click="switchHome(vdp3)">{{tab.t3}}</button>
        <button @click="switchHome(vdp4)">{{tab.t4}}</button>
    </div>

    <div id="home2" v-show="show">
        <link rel="stylesheet" href="overlay.css" id="mode-css" :v-if="initJs.启用">
        <p>代码生成助手</p>
        
        <div class="yi_hang">
            ChromePage 模式 
        </div>

        <div class="yi_hang">
            <span class="label1">指定浏览器路径：</span>
            <input id="set_browser" placeholder="默认为空是本地谷歌浏览器" v-model="browserPath">
        </div>

        <div class="yi_hang">
            <span style="margin-right: 15px;">启动前设置</span>
            <input type="checkbox" id="wutou" name="checkbox" v-model="是否无头">
            <label for="check1">无头</label>

            <input type="checkbox" id="jingyin" name="checkbox" v-model="是否静音">
            <label for="check2">静音</label>
            <input type="checkbox" name="checkbox" v-model="是否最大化">
            <label for="check2">最大化</label>
            <input type="checkbox" name="checkbox" v-model="initJs.启用">
            <label for="check2">初始化脚本</label>
            <button v-if="initJs.启用" @click="initJs.显示=true">修改脚本</button>

            <input type="checkbox" id="hulue" name="checkbox" v-model="是否忽略证书错误">
            <label for="check4">忽略证书错误</label>

            <input type="checkbox" id="nojs" name="checkbox" v-model="是否设置UA">
            <label for="check5">设置UA</label>
            <select id="ua" v-model="UA" v-show="是否设置UA">
                <option value="pc">PC</option>
                <option value="苹果">苹果</option>
                <option value="安卓">安卓</option>
            </select>
        </div>

        <div class="yi_hang">
            <span class="label1">代理地址</span>
            <input id="set_proxy" class="input_button1" type="text" placeholder="http://ip:port" v-model="proxy_url">
        </div>

        <div class="yi_hang">
            <span class="label1">启动端口</span>
            <input id="set_port" class="input_button1" type="text" v-model="debug_port">
        </div>

        <div class="yi_hang">
            <span class="label1">启动网址</span>
            <input id="set_url" class="input_button1" type="text" placeholder="必须是http开头" v-model="url">
        </div>

        <hr>

        <button id="reset_config" class="start_button" type="button" style="background-color: crimson;">重置</button>
        <button id="copy_code" class="red_button" type="button" @click="copyToClipboard(code)">复制下面的代码</button>
        <br>

        <textarea id="wenben" rows="20" placeholder="文本框" :value="code" :style="wenben_style"></textarea>
        <overlay-textarea :visible="initJs.显示" @close="handleClose($event)" v-if="initJs.启用"></overlay-textarea>
    </div>

    <div id="home3" v-show="show">
        <div class="yi_hang">
            <p>原生语法:</p>
            <input v-model="raw_string" :style="raw_string_style"></input>
            <p>{{raw_string}}</p>
        </div>
        <div class="yi_hang">
            <p>xpath语法:</p>
            <input v-model="xpath_string" :style="raw_string_style"></input>
            <p>{{xpath_string}}</p>
        </div>
    
    
    </div>


    <div id="home4" v-show="show">
        <hr>
        <div class="yi_hang">
            <input type="text" v-model="inputValue"> <button @click="updateItems">更新</button>
            <ul id="example-1">
                <li v-for="item in items" :key="item.message">
                    {{ item.message }}
                </li>
            </ul>
        </div>
    
        <hr>
        <button-counter></button-counter>
    
        <hr>
        <div id="#blog-post-demo">
            <blog-post :title="test"> </blog-post>
            <blog-post v-for="post of posts"  :title="post.title"> </blog-post>
            <hr>
            <blog-post2 v-for="post of posts"  :post="post"> </blog-post2>
            <p>{{test}}</p>
        </div>
    </div>
    
    </div>

    <!-- //#region js -->
    <script src="./vue@2.js"></script>    
    <script src="./v.js"></script>    
    <!-- <script src="./main2.js"> </script>
    <script src="./main3.js"> </script>
    <script src="./main4.js"> </script>
    <script  src="./main0.js"> </script> -->

    <script>
        document.getElementById('toggle-night-mode').addEventListener('click', function () {
            document.body.classList.toggle('night-mode');
            const nightModeCSS = document.getElementById('night-mode-css');
            nightModeCSS.disabled = !nightModeCSS.disabled;
        });
    </script>


    
</body>

</html>
    